@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  color: #383e45;

}

/*大まかな左側のcss*/
#left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 37px;

  position: absolute;
  width: 666px;
  height: 761.07px;
  left: 0px;
  top: 0px;

  background: #FFFFFF;
}


/*写真部分のcss*/
#picture {
  width: 360px;
  height: 360px;
  background: #D9D9D9;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/*写真と名前の空白は？*/
.blank {
  /* Rectangle 11 */


  width: 347px;
  height: 36px;

  background: #FFFFFF;
}
/*名前と星の間の空白？*/
.blank {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;
  gap: 24px;

  width: 174px;
  height: 60px;

  background: #FFFFFF;
}

#name {
  /* 名前 */



  height: 39px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */


  color: #000000;


  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}

#button {
  /* touhyou */


  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 537px;
  height: 39px;

  background: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 8;
  flex-grow: 0;





}

.button{
  width:100px;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
  display:block;
  padding:10px 0 10px;
  background:#000000;
  border-radius: 20px;

}







#subject {
  /* Line 2 */


  width: 470px;
  height: 0px;

  border: 1px solid #000000;
  transform: rotate(-0.25deg);

  /* Inside auto layout */

  flex: none;
  order: 12;
  flex-grow: 0;

}

/*これより下はひとまずOK*/
/*大まかな右側のcss*/

#right {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 54px 67px;
  gap: 80px;

  position: absolute;
  width: 767px;
  height: 100vh;
  /*デスクトップに対する大きさの比*/
  left: 666px;
  top: 0px;
  overflow-y: scroll;

  /* gray */

  background: #EDEDED;
}



#text {
  /* Rectangle 3 */


  box-sizing: border-box;

  width: 733px;
  height: 63px;

  background: #D9D9D9;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.comment {
  /* Rectangle 16 */


  box-sizing: border-box;

  width: 733px;
  height: 160px;

  background: #D9D9D9;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.star5_rating{
  position: relative;
  z-index: 0;
  display: inline-block;
  white-space: nowrap;
  color: #CCCCCC; /* グレーカラー 自由に設定化 */
  /*font-size: 30px; フォントサイズ 自由に設定化 */
}

.star5_rating:before, .star5_rating:after{
  content: '★★★★★';
  font-size: 30px;
}

.star5_rating:after{
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  color: #ffcf32; /* イエローカラー 自由に設定化 */
}

.star5_rating[data-rate="5"]:after{ width: 100%; } /* 星5 */
.star5_rating[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.star5_rating[data-rate="4"]:after{ width: 80%; } /* 星4 */
.star5_rating[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.star5_rating[data-rate="3"]:after{ width: 60%; } /* 星3 */
.star5_rating[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.star5_rating[data-rate="2"]:after{ width: 40%; } /* 星2 */
.star5_rating[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.star5_rating[data-rate="1"]:after{ width: 20%; } /* 星1 */
.star5_rating[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.star5_rating[data-rate="0"]:after{ width: 0%; } /* 星0 */
